Gemfile.lock
gemfiles/*.lock
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/doc/
/db/*.sqlite3
/spec/dummy/log/*
/spec/dummy/db
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.gem
/spec/dummy/config/ca.crt
/spec/dummy/config/datastax_rails.crt
/spec/dummy/config/datastax_rails.key
/.yardoc
push_local.sh
